<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CompositeKey" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__CompositeKey;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CompositeKeyFK" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__CompositeKeyFK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EntitySplitting" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__EntitySplitting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FKAssoc_ManyToManyLinkEntity" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__Assoc_ManyToManyLinkEntity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FKAssoc_One2Many" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__FKAssoc_One2Many;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FKAssoc_One2One" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__FKAssoc_One2One;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FKAssoc_One2Optional" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__FKAssoc_One2Optional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FKAssoc_Optional2Many" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__FKAssoc_Optional2Many;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="FKAssoc_Optional2Optional" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__FKAssoc_Optional2Optional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="IndAssoc_ManyToMany" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__IndAssoc_ManyToMany;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IndAssoc_One2Many" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__IndAssoc_One2Many;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IndAssoc_One2One" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__IndAssoc_One2One;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IndAssoc_One2Optional" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__IndAssoc_One2Optional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IndAssoc_Optional2Many" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__IndAssoc_Optional2Many;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="IndAssoc_Optional2Optional" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__IndAssoc_Optional2Optional;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SelfReference" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__SelfReference;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TPC" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__TPC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TPH" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__TPH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TPT" connectionString="data source=(LocalDb)\ProjectsV12;initial catalog=__EG4EF6_TestDb__TPT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>