<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="InheritanceDepth3ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth3Model.csdl|res://*/Models.InheritanceDepth3Model.ssdl|res://*/Models.InheritanceDepth3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth3;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth4ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth4Model.csdl|res://*/Models.InheritanceDepth4Model.ssdl|res://*/Models.InheritanceDepth4Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth4;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth5ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth5Model.csdl|res://*/Models.InheritanceDepth5Model.ssdl|res://*/Models.InheritanceDepth5Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth5;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth5WideModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth5WideModel.csdl|res://*/Models.InheritanceDepth5WideModel.ssdl|res://*/Models.InheritanceDepth5WideModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth5wide;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth6ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth6Model.csdl|res://*/Models.InheritanceDepth6Model.ssdl|res://*/Models.InheritanceDepth6Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth6;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth3Assoc1ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth3Assoc1Model.csdl|res://*/Models.InheritanceDepth3Assoc1Model.ssdl|res://*/Models.InheritanceDepth3Assoc1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=InheritanceDepth3Assoc1.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth3Assoc2ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth3Assoc2Model.csdl|res://*/Models.InheritanceDepth3Assoc2Model.ssdl|res://*/Models.InheritanceDepth3Assoc2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=InheritanceDepth3Assoc2.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth3Assoc3ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth3Assoc3Model.csdl|res://*/Models.InheritanceDepth3Assoc3Model.ssdl|res://*/Models.InheritanceDepth3Assoc3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=InheritanceDepth3Assoc3.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth4Assoc1ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth4Assoc1Model.csdl|res://*/Models.InheritanceDepth4Assoc1Model.ssdl|res://*/Models.InheritanceDepth4Assoc1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth4Assoc1.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth5Assoc1ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth5Assoc1Model.csdl|res://*/Models.InheritanceDepth5Assoc1Model.ssdl|res://*/Models.InheritanceDepth5Assoc1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth5Assoc1.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth5WideAssoc1ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth5WideAssoc1Model.csdl|res://*/Models.InheritanceDepth5WideAssoc1Model.ssdl|res://*/Models.InheritanceDepth5WideAssoc1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth5WideAssoc1.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth6Assoc1ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth6Assoc1Model.csdl|res://*/Models.InheritanceDepth6Assoc1Model.ssdl|res://*/Models.InheritanceDepth6Assoc1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=efperformance_inheritance_depth6Assoc1.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth6Assoc2ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth6Assoc2Model.csdl|res://*/Models.InheritanceDepth6Assoc2Model.ssdl|res://*/Models.InheritanceDepth6Assoc2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=InheritanceDepth6Assoc2.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InheritanceDepth6Assoc3ModelContainer" connectionString="metadata=res://*/Models.InheritanceDepth6Assoc3Model.csdl|res://*/Models.InheritanceDepth6Assoc3Model.ssdl|res://*/Models.InheritanceDepth6Assoc3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=InheritanceDepth6Assoc3.100;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindContainer" connectionString="metadata=res://*/Models.NorthwindModel.csdl|res://*/Models.NorthwindModel.ssdl|res://*/Models.NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(Localdb)\ProjectsV12;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>