<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="IBM.Data.DB2.DB2ConnectionFactory, IBM.Data.DB2" />
    <providers>
      <provider invariantName="IBM.Data.DB2.10.5.1" type="IBM.Data.DB2.Entity.DB2ProviderServices, IBM.Data.DB2.Entity" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="IBM.Data.DB2.10.5.1"></remove>
      <add name="IBM DB2 .NET Data Provider 10.5.1" invariant="IBM.Data.DB2.10.5.1" description="IBM DB2 Data Provider 10.5.1 for .NET Framework 4.0" type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2.10.5.1, Version=10.5.1.4, Culture=neutral, PublicKeyToken=7c307b91aa13d208" />
    </DbProviderFactories>
  </system.data>
</configuration>